<div class="about-content">
	<p>This app was developed by Saurabh Kumar to visualize and analyze trends of graduate admits and rejects to various universities.</p>
	<p>This involved:</p>
	<ol>
		<li><dd><b>Scraping:</b></dd>Scrape the data from the grad cafe</li>
		<li><dd><b>Parsing:</b></dd>Parse the raw html and separate into individual components</li>
		<li><dd><b>Entity Resolution:</b></dd>Resolve synonymous universities (Carnegie Mellon, Carnegie Mellon University, CMU, etc. all correspond to the same entity) and create a final set of university application entries.
		<li><dd><b>Storing:</b></dd>Store these in Mongodb making it easier to query on various keys</li>
		<li><dd><b>Query and Render:</b></dd>Execute queries and render on the client</li>
	</ol>
</div>
