<div ng-controller="graphController" class="content-container">
	<form id="univ_fetch" method = "GET" class="form-inline" role="form" ng-submit="onSubmit()">
		<input type="text" id="tags" class="form-control typeahead" placeholder="university" ng-model="univ"  typeahead="address for address in getUnivs($viewValue)" typeahead-min-length="2" typeahead-editable="false" />
		<select class="form-control" id="year" ng-model="year" ng-options="obj.value as obj.label for obj in years">
			<option value="">year</option>
		</select>
		<select class="form-control" id="degree" ng-model="degree" ng-options="obj.value as obj.label for obj in degrees">
			<option value="">degree</option>
		</select>

		<button type="submit" class="form-control"><span class="glyphicons glyphicon-star"></span></button>
		<div class="spinner form-control form-control-no-border" ng-show="loading">
		<img src="images/loader.gif" />
		</div>
	</form>
	<div class="alert alert-danger alert-dismissable fade in" style="display: none;">
		<button type="button" class="close"  aria-hidden="true">&times;</button>
		<strong>Error!</strong> Please fill in all fields.
	</div>
	<div class="holder">
		<canvas id="myChart" width="1500" height="400"></canvas>
	</div>
</div>
