<div class="tech-data">
	<p>Thanks (in no particular order):</p>
	<ul>
		<li><a href="http://docs.python-requests.org/en/latest/">Requests</a></li>
		<li><a href="http://www.mongodb.org/">Mongodb</a></li>
		<li><a href="http://www.chartjs.org/">Chart.js</a></li>
		<li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
		<li><a href="http://jqueryui.com/autocomplete/">JQuery</a></li>
		<li><a href="http://www.heroku.com/">Heroku</a></li>
		<li><a href="http://www.angularjs.org/">AngularJS</a></li>
	</ul>
</div>
